<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no"/>
    <title>Oban</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
    <style>
      @import url(https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css);
      @-webkit-keyframes fadeIn {
      	from { opacity:0 }
      	to { opacity:1 }
      }
      @keyframes fadeIn {
      	from { opacity:0 }
      	to { opacity:1 }
      }
      @-webkit-keyframes fadeInUp {
      	from { opacity:0; transform:translate3d(0,10%,0) }
      	to { opacity:1; transform:translate3d(0,0,0) }
      }
      @keyframes fadeInUp {
      	from { opacity:0; transform:translate3d(0,10%,0) }
      	to { opacity:1; transform:translate3d(0,0,0) }
      }
      
      dialog[open] { -webkit-animation-duration:0.3s; animation-duration:0.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:fadeInUp; animation-name:fadeInUp }
      dialog::backdrop { background: rgba(0, 0, 0, 0.5); -webkit-animation-duration:0.3s; animation-duration:0.3s; -webkit-animation-fill-mode:both; animation-fill-mode:both; -webkit-animation-name:fadeIn; animation-name:fadeIn  }
    </style>

    <script>
      function openModal(key) {
      	document.getElementById(key).showModal();
      	document.body.setAttribute('style', 'overflow: hidden;');
      	document.getElementById(key).children[0].scrollTop = 0;
      	document.getElementById(key).children[0].classList.remove('opacity-0');
      	document.getElementById(key).children[0].classList.add('opacity-100')
      }
      
      function modalClose(key) {
      	document.getElementById(key).children[0].classList.remove('opacity-100');
      	document.getElementById(key).children[0].classList.add('opacity-0');
      	setTimeout(function () {
      		document.getElementById(key).close();
      		document.body.removeAttribute('style');
      	}, 100);
      }
    </script>
  </head>
  <body>
    <!-- component -->
    <div class="flex bg-gray-100">


      <main class="w-full">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
